.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    margin: 0px 3% 0px 3%;
    background-color: rgb(29, 28, 28);
    height: 100vh;
}
.hero img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 5% 0px 0px 0px;
}
.hero h1{
    /* width: 70%; */
    font-size: 20px;
    font-weight: 300;
    margin: 2% 10% 0px 5%;
    text-align: center;

}
.hero h1 span{
    background: linear-gradient(270deg,#df8908 10%,#B415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    font-weight: 600;
    font-size: 25px;

}
.hero p{
    margin: 3% 10% 0px 10%;
}
.hero p span{
    background: linear-gradient(270deg,#df8908 10%,#B415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    font-weight: 600;
    font-size: 20px;
    
    
}
.hero-chat{
    /* text-align: center; */
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin-top: 5%;
    border-radius: 50px;
    background: linear-gradient(264deg,#df8908 -5.09%,#B415FF 100% );
    cursor: pointer;
}
